.banner .nav li {
  @extend .nav-item;
}

.navbar-nav {
  text-align: right;
  margin: 0.5rem 1rem 1rem;

  .nav-link {
    padding: 0.2rem;
    letter-spacing: 0.1rem;
  }

  a {
    color: $gray-800;
    font-family: "Rosario", sans-serif;
  }
}

.navbar {
  justify-content: end;
  padding: 1rem 0;
}

.nav-primary ul {
  margin: 1em 0.5em;
  text-align: center;

  .main-nav li {
    display: inline;
  }

  .main-nav a {
    display: inline-block;
    padding: 0.5em 1.5em;
  }
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#site-identity {
  width: 100%;
  font-family: "Rosario", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding: 30px;
  position: relative;
  margin: -1rem 0 0 1rem;

  .navbar-brand {
    margin: 0;
  }

  a {
    font-family: "Rosario", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
}

/* Icon 1 */
.animated-icon {
  width: 30px;
  height: 20px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background: theme-color("light");

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }

  &.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  &.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  &.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
