* {
  outline: none !important;
}

.container {
  max-width: 1200px;
}

.content {
  padding: 1rem;
}

.divider {
  display: block;
  background-color: #fff;
  width: 20px;
  height: 2px;
  margin: 20px auto 0;
}

/* Typography */
h1 {
  color: #343a40;
  font-family: "Rosario", sans-serif;
  letter-spacing: 0.1rem;
}

h2,
h3 {
  font-family: "Rosario", sans-serif;
  border-bottom: solid 2px $gray-light;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  margin: 0.6rem 0;
}

@media only screen and (max-width: 768px) {
  #widgets-container {
    order: 2;
    padding: 0;
  }

  #content-container {
    order: 1;
    padding: 0;
  }
}
