/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
  "info": #ecedf1,
  "dark": #535353,
);

$container-large-desktop: "1800px";
$bg-dark: #535353;
$gray-dark: #333;
$gray-light: #ccc;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
